
{% extends 'templates/app.html.twig' %}

{%block content%}
<div class="col-lg-12">
{% if notifications %}
{% for notification in notifications %}
<div class="row">
  <div class="alert {{notification.type=="success" ? 'alert-success':''}} {{notification.type=="danger" ? 'alert-danger':''}} {{notification.type=="warning" ? 'alert-warning':''}}" role="alert">
    <p charset="utf-8">{{ notification.message }}</p>
  </div>
</div>
{% endfor %}
{% endif %}
<div class="row">
  <div class="col-lg-12 well">
    {% if id and type %}
    <p>Numéro de votre dossier: {{id}}</p>
    <p>Type de votre dossier: {{type}}</p>
    {% else %}
    <p>Veuillez se connecter:</p>
    <a href="{{path_for('auth.signin')}}">Se connecter</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
